/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    height: auto;
    margin: 0;
    background: #406343;
}

/* Start Header */

.wrapper {
    width: 1828px;
    margin: 0 auto;
}

.header_blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    margin-top: 32px;
    width: 146px;
    height: 60px;
}

.header_nav {
    width: 350px;
    height: 48px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin-right: 45px;
    padding-left: 0px;
    list-style-type: none;
}

.header_list:last-child {
    margin-right: 0;
}

.header_link {
font-size: 25px;
line-height: 38px;
color: #FFFFFF;
text-decoration: none;
}

.function_block {
    width: 165px;
    height: 35px;  
}

.pump_block {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 40px;
    padding: 0;
}

.pump_block:last-child {
    margin-right: 0;
}

.pump_link {
    color: #FFFFFF;
    text-decoration: none;
}

/* End Header */